# Exclude everything by default
*

# Allow required build files and project sources
!Dockerfile
!docker-compose.yml
!docker-entrypoint.sh
!.env.example
!startup.md
!scripts
!scripts/**
!stable-diffusion-webui
!stable-diffusion-webui/**
!webui7861.log
